
nav, footer{
    background-color: steelblue;
    padding: 10px;
    color: white;
    text-align: center;
}
a{
    color: white;
    margin: 40px;
    font-size: 1.5em;
    padding: 25px;
}
h1{
    color: steelblue;
    text-align: center;
    margin: 50px 0;
}
img{
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 4px solid steelblue;
}
p{
    
    margin:50px auto;
    width: 80%;
}
main p {
    width: 80%;
    margin: 50 auto;
    text-align: center;
}
.main-para{
    font-size: 1.5em;
    line-height: 1.5em;
}
#active {
    background-color: white;
    color: steelblue;
}
footer p {
    font-size: 20px;
    margin:20px auto;
    padding: 25px;
}
a:hover {
    background-color: white;
    color: steelblue;
}
nav{
    padding: 25px;
}
body{
    margin: 0;
}



