#b{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
 }

 h1{
    color: black;
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    font-size: 10vw;
    z-index: 1;
    text-align: center;
 }
 
 img {
    width: 50%;
    grid-column: 1/3;
    grid-row: 1/2;
 }
 aside{
    color: red;
    grid-column: 2/2;
    grid-row: 1/1;
    background-color: lightgray;
    align-content: flex-end;

 }

 